# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
    <li>obj1</li>
    <li>obj2</li>
    <li>obj3</li>
    <li>obj4</li>
    <li>obj5</li>
 </ul>

Some of the popular languages that Data Scientists use are:

<ol>
<li>Python</li>
<li>R</li>
<li>some others</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>scikit</li>
<li>tensorflow</li>
<li>some others</li>
</ol>

|Data Science Tools|
:----------------:
|datascience tool 1|
|datascience tool 2|
|datascience tool 3|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
print("200 minutes is the same as", 200/60 , "hours")

200 minutes is the same as 3.3333333333333335 hours

## Author: Ab Turk